<p>eventos works!</p>
<div class="container">

  <!-- TÍTULO -->

  <div class="titulo">

    <h1>
      Cadastro de Evento
    </h1>

    <p>
      Preencha os dados do evento abaixo.
    </p>

  </div>


  <form [formGroup]="eventoForm">

    <!-- DADOS DO EVENTO -->

    <section class="card">

      <h2>
        Dados do Evento
      </h2>


      <div class="form-grid">


        <!-- NOME DO EVENTO -->

        <div class="campo campo-grande">

          <label for="nomeEvento">
            Nome do evento *
          </label>

          <input
            id="nomeEvento"
            type="text"
            formControlName="nomeEvento"
            placeholder="Digite o nome do evento"
          />

          @if (campoInvalido('nomeEvento')) {

            <span class="erro">
              Informe o nome do evento.
            </span>

          }

        </div>


        <!-- DATA DO EVENTO -->

        <div class="campo">

          <label for="dataEvento">
            Data do evento *
          </label>

          <input
            id="dataEvento"
            type="date"
            formControlName="dataEvento"
          />

          @if (campoInvalido('dataEvento')) {

            <span class="erro">
              Informe a data do evento.
            </span>

          }

        </div>


        <!-- LOCAL DO EVENTO -->

        <div class="campo campo-grande">

          <label for="localEvento">
            Local do evento *
          </label>

          <input
            id="localEvento"
            type="text"
            formControlName="localEvento"
            placeholder="Digite o local do evento"
          />

          @if (campoInvalido('localEvento')) {

            <span class="erro">
              Informe o local do evento.
            </span>

          }

        </div>


        <!-- VALOR DO EVENTO -->

        <div class="campo">

          <label for="valorEvento">
            Valor do evento *
          </label>

          <input
            id="valorEvento"
            type="number"
            formControlName="valorEvento"
            placeholder="0,00"
            min="0"
            step="0.01"
          />

          @if (campoInvalido('valorEvento')) {

            <span class="erro">
              Informe um valor válido.
            </span>

          }

        </div>

      </div>

    </section>


    <!-- BOTÕES -->

    <div class="acoes">

      <button
        type="button"
        class="btn btn-secundario"
        (click)="limpar()"
      >
        Limpar
      </button>


      <button
        type="button"
        class="btn btn-primary"
        (click)="salvar()"
      >
        Salvar
      </button>

    </div>

  </form>

</div>
